/* Основные настройки */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

a {
    text-decoration: none;
    color: black;
}

/* Header */
.header {
    padding: 20px;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 20px;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.header__title {
    font-size: 32px;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
    background-image: url('../images/aconcagua.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/* Welcome Section */
.welcome {
    display: flex;
    padding: 40px 40px 40px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin: 40px;
}

.text-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.welcome__title {
    font-size: 58px;
    color: white;
}

.welcome__text {
    font-size: 18px;
    color: white;
    max-width: 700px;
}

.welcome__container {
    display: flex;
    gap: 40px;
    width: 100%;
}

.welcome__border {
    position: relative;
    width: 8px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.welcome__dot {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}

/* Slider */
.slider {
    position: relative;
    width: 900px;
    height: 300px;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
}

.slide-group {
    display: flex;
    width: 100%;
}

.slide {
    flex: 1 1 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide img {
    max-width: 100%;
    height: auto;
}

input[type="radio"] {
    display: none;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

input#slide1:checked ~ .slides {
    transform: translateX(0);
}

input#slide2:checked ~ .slides {
    transform: translateX(-100%);
}

input#slide3:checked ~ .slides {
    transform: translateX(-200%);
}

input#slide1:checked ~ .dots .dot:nth-child(1),
input#slide2:checked ~ .dots .dot:nth-child(2),
input#slide3:checked ~ .dots .dot:nth-child(3) {
    background-color: black;
}

.button {
    padding: 20px;
    font-size: 24px;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    background-color: transparent;
    max-width: 200px;
    cursor: pointer;
}

.icons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.icons img {
    width: 80px;
    height: 80px;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.footer__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer__social, .footer__contact, .footer__copy {
    margin: 10px 0;
}

.footer__social-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.footer__social-link:hover {
    color: #007bff;
}

.footer__contact p, .footer__copy p {
    font-size: 14px;
    margin: 5px 0;
}
