* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

a {
    text-decoration: none;
    color: black;
}

/* Header */
.header {
    padding: 20px;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 20px;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.nav__link_white,
.header__title_white {
    color: white;
}

.nav__link.active,
.nav__link_white.active {
    font-weight: bold;
    text-decoration: underline;
}

.header__title,
.header__title_white {
    font-size: 32px;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../images/aconcagua.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    justify-content: space-between;
}

.services-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Welcome Section */
.welcome {
    display: flex;
    padding: 40px 40px 40px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin: 40px;
}

.text-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.welcome__title {
    font-size: 58px;
    color: white;
}

.welcome__text {
    font-size: 18px;
    color: white;
    max-width: 700px;
}

.welcome__container {
    display: flex;
    gap: 40px;
    width: 100%;
}

.welcome__border {
    position: relative;
    width: 8px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.welcome__dot {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}

.button {
    padding: 20px;
    font-size: 24px;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    background-color: transparent;
    max-width: 300px;
    cursor: pointer;
}

.icons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.icons img {
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.main-slider {
    position: relative;
    width: 100%;
    max-width: 700px;
    overflow: hidden;
}

.main-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    max-width: 700px;
}

.main-slide-group {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    justify-content: space-around;
}

.main-slide {
    flex: 0 0 200px;
    margin: 0 10px;
    box-sizing: border-box;
}

.main-slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: white;
}

/* Services */
.services-title {
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.main-content {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.map-image {
    position: relative;
}

.location-image {
    position: absolute;
    left: 115px;
    top: 445px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

.contact-form label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: black;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #808080;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    border: none;
    font-weight: bold;
}

.contact-form input:placeholder-shown + label,
.contact-form textarea:placeholder-shown + label {
    top: 5px;
    left: 10px;
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.contact-form input:not(:placeholder-shown) + label,
.contact-form textarea:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 12px;
}

.number-slider {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.number-container {
    display: flex;
    overflow: hidden;
    width: 275px;
}

.number-item {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #808080;
    padding: 10px;
}

.number-item.selected {
    background-color: white;
    color: black;
    font-weight: bold;
}

.number-item.hidden {
    display: none;
}

.slider-arrow {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.travel-date {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

/* Slider */
.slider-container {
    justify-content: center;
    gap: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.text-info {
    color: white;
    max-width: 300px;
    font-style: 14px;
}

.slider-images {
    display: flex;
}

.slider-image {
    max-width: 200px;
}

.slider-text-block {
    display: flex;
    gap: 20px;
}

.slider-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-text-block {
    max-width: 300px;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: -100px;
    height: 500px;
}

.subtitle-block {
    background-color: rgb(11, 167, 224);
    border-radius: 8px 8px 0 0;
    padding: 20px;
    text-align: center;
}

.bottom-part {
    background-color: rgba(11, 167, 224, .5);
    border-radius: 0 0 8px 8px;
    padding: 20px;
    position: relative;
    justify-content: center;
    display: flex;
}

.slider-icons {
    position: absolute;
    top: -22px;
    display: flex;
    gap: 10px;
}

.slider-icons img {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.slider-main-image {
    position: relative;
}

.success-container {
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.success-message {
    color: white;
    margin-bottom: 40px;
}

.success-text-block {
    margin: 0 auto;
}

/* Blog */
.hidden {
    display: none;
}

.blog-page {
    background-color: black;
}

.blog-container {
    display: grid;
    gap: 20px;
    margin: 20px;
}

.blog-article {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    gap: 20px;
}

.blog-image {
    width: 100%;
    max-width: 200px;
    border-radius: 8px;
}

.blog-under-text {
    color: white;
}

.read-more-button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.read-more-button:hover {
    background-color: #0056b3;
}

/* Footer */
.footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.footer__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.footer__social, .footer__contact, .footer__copy {
    margin: 10px 0;
}

.footer__social-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.footer__social-link:hover {
    color: gray;
}

.footer__contact p, .footer__copy p {
    font-size: 14px;
    margin: 5px 0;
}

.footer__social ul {
    list-style: none;
}

.my-info img{
    max-width: 200px;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}

.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 11;
}

.burger-line {
    background-color: black;
    width: 20px;
    height: 2px;
    margin-top: 4px;
    border-radius: 4px;
}

.burger-menu.open .burger-line:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}

.burger-menu.open .burger-line:nth-child(2) {
    opacity: 0;
}

.burger-menu.open .burger-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}

@media (max-width: 1280px) {
    .nav {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 20px;
        right: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 20px;
        border-radius: 0 0 8px 8px;
    }

    .nav.open {
        display: flex;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        margin-right: 20px;
    }    

    .burger-menu {
        display: flex;
    }

    .nav__list {
        flex-direction: column;
        gap: 15px;
    }

    .header__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .welcome {
        padding: 20px;
        margin: 8px;
    }

    .welcome__title {
        font-size: 24px;
    }

    .welcome__text {
        font-size: 14px;
    }

    .welcome__container {
        gap: 20px;
    }

    .main-slides {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        display: flex;
    }
    
    .main-slide-group {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        display: flex;
    }
    
    .main-slide {
        margin: 0 auto;
        width: 100%;
        flex: 0 0 auto;
    }
    
    .main-slide img {
        height: auto;
        object-fit: cover;
        width: 100%;
    }
    
    .dots {
        display: none;
    }       
}
