/* Основные настройки */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

a {
    text-decoration: none;
    color: black;
}

/* Header */
.header {
    padding: 20px;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 20px;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.nav__link_white,
.header__title_white {
    color: white;
}

.header__title,
.header__title_white {
    font-size: 32px;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../images/aconcagua.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.services-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Welcome Section */
.welcome {
    display: flex;
    padding: 40px 40px 40px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin: 40px;
}

.text-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.welcome__title {
    font-size: 58px;
    color: white;
}

.welcome__text {
    font-size: 18px;
    color: white;
    max-width: 700px;
}

.welcome__container {
    display: flex;
    gap: 40px;
    width: 100%;
}

.welcome__border {
    position: relative;
    width: 8px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.welcome__dot {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}

.button {
    padding: 20px;
    font-size: 24px;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    background-color: transparent;
    max-width: 300px;
    cursor: pointer;
}

.icons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.icons img {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

/* Services */
.services-title {
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.main-content {
    display: flex;
    gap: 40px;
}

.map-image {
    position: relative;
}

.location-image {
    position: absolute;
    left: 115px;
    top: 445px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
}

.contact-form label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: white;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #808080;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    color: white;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #007bff;
}

.contact-form input:placeholder-shown + label,
.contact-form textarea:placeholder-shown + label {
    top: 20px;
    left: 10px;
    font-size: 14px;
    color: #fff;
}

.contact-form input:not(:placeholder-shown) + label,
.contact-form textarea:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #007bff;
}

.number-slider {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.number-container {
    display: flex;
    overflow: hidden;
    width: 210px;
}

.number-item {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
}

.number-item.hidden {
    display: none;
}

.slider-arrow {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.travel-date {
    color: white;
}

/* Slider */
.slider-container {
    justify-content: center;
    gap: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #007bff;
}

.text-info {
    color: white;
    max-width: 300px;
    font-style: 14px;
}

.slider-images {
    display: flex;
}

.slider-image {
    max-width: 200px;
}

.slider-text-block {
    display: flex;
    gap: 20px;
}

.slider-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-text-block {
    max-width: 300px;
    background-color: rgb(11, 167, 224);
    color: white;
    border-radius: 8px;
    padding: 20px;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: -100px;
    height: 500px;
}

.slider-main-image {
    position: relative;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.footer__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer__social, .footer__contact, .footer__copy {
    margin: 10px 0;
}

.footer__social-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.footer__social-link:hover {
    color: #007bff;
}

.footer__contact p, .footer__copy p {
    font-size: 14px;
    margin: 5px 0;
}
